.about-me-outer-container {
    width: 100vw;
    height: auto;
    background-color: white;
}

.about-me-outer-container.dark {
    background-color: #101010;
}

.about-me-transition img {
    display: block;
    height: 10vh;
    width: 100vw;
}

.about-me-inner-container {
    height: auto;
    width: 100vw;
    background-color: #202020;
    display: flex;
    flex-direction: column;
    justify-items: center;
}

.about-me-inner-container h1 {
    color: rgb(34, 172, 96);
    text-align: center;
    margin: 0;
    padding-top: 5%;
    padding-bottom: 15%;
}

.about-me-inner-container p {
    color: white;
    padding: 0 15%;
    text-align: center;
}

.about-me-inner-container img {
    width: 15%;
    align-self: center;
    padding-bottom: 10%;
}

.about-me-inner-container #code-one, 
.about-me-inner-container #code-two,
.about-me-inner-container #code-three {
    position: relative;
    color: #404040;
    margin: 0;
    padding: 0;
    /* right: -10vw; */
    font-size: 3vw;
    grid-area: about;
    text-align: center;
    margin-left: 30vw;

}

.attributes {
    display: grid;
    margin-top: -5vh;
    margin-bottom: 5vh;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
    "about about"
    ". width"
    ". align";
}

.about-me-inner-container #code-two {
    left: 15vw;
    grid-area: width;
    margin: 0;
    text-align: left;
}

.about-me-inner-container #code-three {
    left: 15vw;
    grid-area: align;
    margin: 0;
    text-align: left;
}

.about-me-inner-container p#fitness-bio {
    margin-top: 0;
}

@media (min-width: 940px) {
    .about-me-outer-container {
        background-color: transparent;
    }
    .about-me-outer-container.dark {
        background-color: transparent;
    }
}