.about-me-outer-container {
    width: 100vw;
    height: auto;
    background-color: white;
}

.about-me-outer-container.dark {
    background-color: #101010;
}

.about-me-transition img {
    display: block;
    height: 10vh;
    width: 100vw;
}

.about-me-inner-container {
    height: auto;
    width: 100vw;
    background-color: #202020;
    display: flex;
    flex-direction: column;
    justify-items: center;
}

.about-me-inner-container h1 {
    color: rgb(34, 172, 96);
    text-align: center;
    margin: 0;
    padding-top: 5%;
    padding-bottom: 15%;
}

.about-me-inner-container p {
    color: white;
    padding: 0 15%;
    text-align: center;
}

.basketball-bio {
    grid-area: basketball;
}

.podcast-bio {
    grid-area: podcast;
}

.fitness-bio {
    grid-area: fitness;
}

.math-bio {
    grid-area: math;
}

.coding-bio {
    grid-area: coding;
}

.about-me-title {
    grid-area: title;
}

.basketball-bio,
.coding-bio,
.podcast-bio,
.fitness-bio,
.math-bio {
    width: 100%;
    align-items: center;
}

.basketball-bio img,
.coding-bio img,
.podcast-bio img,
.fitness-bio img,
.math-bio img {
    width: 15%;
    padding-bottom: 10%;
    padding-left: 42.5%;
}

@media (min-width: 940px) {
    .about-me-inner-container h1 {
        font-size: 4vw;
    }
    .about-me-outer-container {
        background-color: transparent;
    }
    .about-me-outer-container.dark {
        background-color: transparent;
    }
    .about-me-inner-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        grid-template-areas: 
        'title title'
        'coding coding'
        'basketball podcast'
        'fitness math';
    }
    .coding-bio {
        margin-bottom: 0;
        padding-bottom: 0;
    }
    .coding-bio img {
        width: 10%;
        padding-left: 45%;
        padding-bottom: 5%;
    }
    .about-me-title {
        margin-top: 3vh;
        margin-bottom: 3vh;
    }
    .about-me-inner-container .coding-bio p {
        padding: 0 30%;
    }
    .about-me-inner-container p {
        font-size: 1.5vw;
    }
}