.background {
    background-color: transparent;
}

.background-image-outer-container {
    height: 70vh;
    background-color: transparent;
}

.background-image-inner-container {
    position: fixed;
    height: 120%;
    right: 0;
    z-index: -1;
}

#background-image {
    height: 70%;
    right: 0;
}
  
#white-transition, #gold-transition {
    height: 100%;
    width: 100%;
}

.web-title {
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 5vw;
    color: black;
}

@media (min-width: 1050px) {
    .background {
        height: 90vh;
    }

    .title {
        display: none;
    }

    #white-transition {
        visibility: hidden;
    }

    .gold-transition {
        position: absolute;
        top: 80vh;
    }

    .projects {
        position: absolute;
        top: 90vh;
        width: 100vw;
        margin-top: -0.1vh;
    }

    .web-title {
        visibility: visible;
    }

    .stack-icons {
        visibility: visible;
        width: 100%;
    }

    .stack-icons-mobile {
        visibility: hidden;
    }

    .underline {
        width: 100%;
        margin-top: -20px;
    }
}
