.projects-outer-container {
    width: 100vw;
    height: 100%;
    background-color: #202020;
}

.projects-container {
    height: auto;
    background-color: rgb(34, 172, 96);
    text-align: center;
    color: white;
    padding-bottom: 100px;
    padding-top: 5%;
}

.projects-container h1 {
    margin-top: 0;
    padding-bottom: 15%;
}

.project {
    margin: auto;
    width: 100%;
    height: auto;
    background-color: #202020;
    overflow: hidden;
    z-index: 0;
    position: relative;
}

.project img {
    display: block;
    height: auto;
    width: 100%;
}

.project .project-details {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 5;
    margin: auto;
    height: 100%;
    transition: ease 0.5s;
    opacity: 0;
    transform: translateY(100%);
}

.project-details h3 {
    margin-top: 0;
    margin-bottom: 1vh;
    padding-top: 8%;
    color: rgb(34, 172, 96);
    font-size: 6vw;
}

.description {
    margin-top: 2vh;
    padding: 0 3vw;
    margin-bottom: 0;
    color: white;
    font-size: 5vw;
}

.technologies {
    color: rgb(34, 172, 96);
    font-style: italic;
    font-size: 5.5vw;
}

.technologies h5 {
    margin-top: 5%;
}

.project-details.dark-clicked {
    transform: translateY(0%);
    opacity: 1;
    background-color: #202020;
}

/* .project-details.dark-clicked h3,
.project-details.dark-clicked .technologies {
    color: rgb(34, 172, 96);
} */

.project-details.clicked {
    transform: translateY(0%);
    background-color: white;
    opacity: 1;
}

.project-details.clicked .technologies,
.project-details.clicked h3 {
    color: black;
}

.project-details .description.light {
    color: #22AC60;
}

.green-transition img {
    display: block;
    position: relative;
    height: 10vh;
    width: 100%;
}

.project-links {
    display: flex;
    justify-content: space-around;
    margin: 0 4vw;
}

.project-links button {
    margin: 1vh 0;
    background-color: #202020;
    color: white;
    border: none;
    height: auto;
    border-radius: 30px;
    width: 25vw;
    font-size: 4vw;
    padding: 1vh 0;
    transition: ease 0.3s;
}

.project-links #details,
.project-links #deployed,
.project-links #github {
    margin: 0;
}

.project-selector-dots {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 3vh 0;
    top: 0;
    z-index: 10;
    width: 65%;
    margin: auto;
}

.project-selector-dots.web {
    display: none;
}

.project-selector {
    margin-top: 1vh;
    position: absolute;
    height: 5vh;
    width: 5vh;
    left: 5vw;
}

.mobile-project-selectors {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 0 2.5%;
}

.project-selector.mobile-back {
    transform: rotate(180deg);
}

.project-selector h1 {
    margin: 0;
}

.project-dot {
    height: 1vh;
    width: 1vh;
    border-radius: 50%;
    border: 1px solid #202020;
}

.project-dot.kodflix,
.project-dot.fit-4-you,
.project-dot.tbsw,
.project-dot.project-skeleton {
    background-color: #202020;
}

.project .project-image {
    transition: ease 1s;
}

.project .project-image#fit4you,
.project .project-image#tbsw,
.project .project-image#projectSkeleton {
    position: absolute;
    transform: translateY(-100%) scale(0.9);
}

.project-image.left#fit4you,
.project-image.left#tbsw,
.project-image.left#projectSkeleton {
    transform: translateX(-100%) translateY(-100%) scale(0.8);
    opacity: 0;
}

.project-image.super-right#fit4you,
.project-image.super-right#tbsw,
.project-image.super-right#projectSkeleton {
    transform: translateY(-100%) translateX(200%) scale(0.8);
    opacity: 0;
}

.project-image.right#fit4you,
.project-image.right#tbsw,
.project-image.right#projectSkeleton {
    transform: translateX(100%) translateY(-100%) scale(0.8);
    opacity: 0;
}

.project-image.left#kodflix {
    transform: translateX(-100%) scale(0.8);
    opacity: 0;
}

.project-image.right#kodflix {
    transform: translateX(100%) scale(0.8);
    opacity: 0;
}

.project-image#kodflix {
    transform: scale(0.9)
}

.project-image.super-right#kodflix {
    transform: translateX(200%) scale(0.8);
    opacity: 0;
}

.project .web-project-selectors {
    visibility: hidden;
    position: absolute;
    display: flex;
    justify-content: space-between;
    height: 5vh;
    width: 93%;
    top: 45%;
}

.project-selector {
    position: relative;
    margin-left: -6%;
}

.project-selector.web-back {
    transform: rotate(180deg);
}

.project-selector.web-back img,
.project-selector.web-forward img {
    height: 100%;
    opacity: 0.5;
    transition: ease 0.3s;
}

.project-selector.web-back img:hover,
.project-selector.web-forward img:hover {
    opacity: 1;
}

.project-links button:hover {
    background-color: #202020;
    color: white;
}

.project .live-site-overly {
    display: none;
    transition: ease 0.3s;
}

.project .live-site-overly.alert {
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 10;
    display: flex;
    justify-content: center;
}

.overlay-text {
    color: white;
    margin: 0;
    font-size: 4vw;
    display: flex;
}

.overlay-text h4 {
    align-self: center;
}

@media (min-width: 940px) {
    .projects-container {
        height: auto;
    }
    .projects-container h1 {
        padding-bottom: 3%;
        font-size: 4vw;
    }
    .project {
        width: 80%;
        border-radius: 50px;
    }
    .project-links button {
        font-size: 2vw;
        width: 10vw;
        padding: 0;
        background-color: transparent;
        border: 2px solid #202020;
        color: #202020;
        margin: 0 2vw;
    }
    .project-links {
        margin-top: 0%;
        justify-content: center;
    }
    .project-selector-dots {
        margin: 1% auto;
        width: 30%;
    }
    .project-selector-dots.web {
        display: block;
    }
    .project-selector.mobile-back,
    .project-selector.mobile-forward {
        display: none;
    }
    .project-selector.web-back,
    .project-selector.web-forward {
        visibility: visible;
        fill: white;
        width: 3%;
        opacity: 0.5;
        transition: ease 0.3s;
    }
    .project-selector.web-back:hover,
    .project-selector.web-forward:hover {
        opacity: 1;
    }
    .project-selector.web-forward.details,
    .project-selector.web-forward.details,
    .project-selector.web-back.details,
    .project-selector.web-back.details {
        fill: black;
        z-index: 5;
    }
    .project-details h3 {
        font-size: 4vw;
    }
    .project-details .description {
        font-size: 2vw;
        margin-top: 10%;
        padding: 0 15%
    }
    .project-details .technologies {
        font-size: 3vw;
        margin-top: 10%;
    }
    .mobile-project-selectors {
        margin: 0 5%
    }
}