.web-title {
    position: relative;
    margin-top: 13vh;
    width: 40vw;
}

.underline-web {
    width: 100%;
    position: relative;
    height: 0.5vh;
    width: 90%;
    background-color: #202020;
}

#web-name {
    font-size: 3vw;
}

#web-nickname {
    font-size: 4vw;
    color: white;
    text-shadow: 1px 1px 3px black;
}

#web-job {
    font-size: 3vw;
    margin-top: -20px;
    color: white;
    text-shadow: 1px 1px 3px black;
}



.stack-icons-web {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 20px;
    text-align: center;
    margin-left: -3vw;
    margin-right: 1vw;
}

.stack-icons-web.second-row {
    grid-template-columns: 1fr 1fr 1fr;
    width: 80%;
    margin: 20px 2vw;
}

.stack-icons-web.second-row img {
    width: 100%;
}

.stack-icon img {
    width: 100%;
}

#icon-label-web {
    font-size: 2vw;
    margin-top: -3px;
    margin-bottom: 0;
}

@media (min-width: 940px) {
    .web-title {
        visibility: hidden;
    }
}