.title {
    text-align: center;
    height: auto;
    background-color: white;
    color: #202020;
    transition: ease;
}

.title-dark {
    color: white;
    background-color: #202020;
}
  
#name {
    font-size: 7vw;
    margin: 0;
}

#nickname {
    font-size: 10vw;
    margin: 15px 0 -10px 0;
    color: rgb(34, 172, 96);
}

#job {
    font-size: 6vw;
    color: rgb(34, 172, 96)
}

.gold-transition {
    position: absolute;
    top: 60vh;
    transition: ease 1s;
}

.white-transition {
    position: relative;
    top: 0vh;
}

.white-transition, .gold-transition {
    height: 10vh;
    width: 100vw;
}
.underline {
    position: relative;
    height: 0.5vh;
    width: 90%;
    background-color: #202020;
    margin-left: 5%;
}
.stack-icons-mobile {
    visibility: visible;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 20px;
    text-align: center;
}
#icon-label {
    margin-top: -3px;
    font-size: 4vw;
}

.project-dark {
    background-color: black;
}