.app {
  height: 100vh;
  width: 100vw;
  background-color: white;
  transition: ease 1s;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.app-dark {
  background-color: #282c34;
  color: white;
}

.background {
  height: 80vh;
  background-image: url('./frontend/assets/images/background.jpg');
  background-attachment: fixed;
  background-position: right;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}

.title {
  text-align: center;
}

#nickname {
  font-size: 50px;
  margin: 15px 0 -10px 0;
  color: goldenrod;
}